<div class="'search">
  <form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value)"> 
    <input type="text" name="city" placeholder="enter city here" ngModel> 
    <br/> 
    <br/> 
    <input type="submit" value="submit"> 
 </form>
</div>
<div class="container">
  <div class="upper-part" style="height: 200px; width: 200px;">
      <img src="https://res.cloudinary.com/darshanscloud/image/upload/v1659098075/pqnsmeyoatu7wrkbxgfa.jpg">
      <div class="upper-data">
        <div class="location">
          {{ cityName }}
        </div>
        <div class="tempreture">
          {{ this.weatherData?.feels_like| number: '1.0-0'}} °C
        </div>
      </div>
  </div>
  <div class="lower-part">
    <div class="lower-data">
      <div class="more-info">
        <table class="data-table">
          <tbody>
            <tr>
              <td><img src="https://res.cloudinary.com/darshanscloud/image/upload/v1659110296/ixl7gbdfvnflwrbjonaq.png"> {{this.weatherData?.min_temp}} °C min</td>
              <td><img src=" https://res.cloudinary.com/darshanscloud/image/upload/v1659110217/ftnd2aemmp0ajem7zxfx.png"> {{this.weatherData?.max_temp}} °C max</td>
            </tr>
            <tr>
              <td><img src="https://res.cloudinary.com/darshanscloud/image/upload/v1659111598/ipac3kzu1dtomtyvilqo.png"> {{this.weatherData?.humidity}} %</td>
              <td><img src="https://res.cloudinary.com/darshanscloud/image/upload/v1659111763/ggkfstw2p5rjf3rekedv.png"> 11 km/h</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>